:root {
  --theme-color: #89cff0;
  --background-primary-color: #89cff0;
  --backgorund-gray-color: #fefefe;

  /*** Button Colors ***/
  --button-primary-color: #6ca0dc;
  --button-gray-color: #919191;

  /*** Border Colors ***/
  --border-gray-color: #e0e0e0;
}
